<a href="https://colab.research.google.com/github/luardo05/Logica-de-Python-/blob/main/Fun%C3%A7%C3%B5es%26metodos_05_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
def funcaoLeitura():
  for i in range(5):
    print("Número ", i)
funcaoLeitura()

Número  0
Número  1
Número  2
Número  3
Número  4

In [18]:
def funcaoLeitura():
  for num in [1,2,3,4,5]:
    print("Número ", num)
funcaoLeitura()

Número  1
Número  2
Número  3
Número  4
Número  5

In [3]:
def addNum(n1, n2):
  print("O primeiro número é: ", n1)
  print("O segundo número é: ", n2)
  print("A soma número é: ", n1+n2)

In [4]:
addNum(2,3)

O primeiro número é:  2
O segundo número é:  3
A soma número é:  5

In [5]:
addNum(4,3)

O primeiro número é:  4
O segundo número é:  3
A soma número é:  7

In [ ]:
addNum()

In [7]:
def funcaoLeitura():
  for i in range(5):
    print("Número ", i)
funcaoLeitura()

Número  0
Número  1
Número  2
Número  3
Número  4

In [22]:
varGlobal = 10#essa é uma variavel global
def multiplicacao(num1, num2):
  varGlobal = (num1 * num2)#Essa é uma variavel local
  print("Variável da função Multiplica: ", varGlobal)
multiplicacao(5,4)
print(varGlobal)

Variável da função Multiplica:  20
10

In [20]:
varGlobal = 10#essa é uma variavel global
def multiplica(num1, num2):
  varLocal = (num1 * num2)#Essa é uma variavel local
  print("Variável da função Multiplica: ", varLocal)
multiplica(5,4)

Variável da função Multiplica:  20
10

In [26]:
def separarTexto(texto):
  return texto.split()
separarTexto("luiz eduardo de almeida")

['luiz', 'eduardo', 'de', 'almeida']

In [37]:
#Qaundo não sabemos a quantidade de parâmetros basta usar o *
teste = "luiz eduardo"
def variosParametros(*parametros):
  for n, item in enumerate(parametros):
    print("Parâmetro", n, item)
  return;
variosParametros("Luiz", "Eduardo", "de", "Almeida")

Parâmetro 0 Luiz
Parâmetro 1 Eduardo
Parâmetro 2 de
Parâmetro 3 Almeida

In [38]:
def variosParametros(*parametros):
  for n in enumerate(parametros):
    print("Parâmetros", n)
  return;
variosParametros("Luiz", "Eduardo", "de", "Almeida")

Parâmetros (0, 'Luiz')
Parâmetros (1, 'Eduardo')
Parâmetros (2, 'de')
Parâmetros (3, 'Almeida')

In [47]:
def variosParametros(*parametros):
  print(parametros[1])
  if ("Eduardo" in parametros):
    print("boa")
  else:
    print("droga")
  for n in enumerate(parametros):
    print("Parâmetros", n)
  return;
variosParametros("Luiz", "Eduardo", "de", "Almeida")

Eduardo
boa
Parâmetros (0, 'Luiz')
Parâmetros (1, 'Eduardo')
Parâmetros (2, 'de')
Parâmetros (3, 'Almeida')

In [65]:
def soma(n1,n2):
  return n1+n2

def subtrai(n1,n2):
  return n1-n2

def multiplica(n1,n2):
  return n1*n2

def divide(n1,n2):
  return n1/n2

In [64]:
while True:
  print("+========================+")
  print("|    MENU DE OPERAÇÕES   |")
  print("|      1 - SOMAR         |")
  print("|      2 - SUBTRAIR      |")
  print("|      3 - MULTIPLICAR   |")
  print("|      4 - DIVIDIR       |")
  print("|      5 - SAIR          |")
  print("+========================+")

  op = float(input())
  if op == 0:
    break

  n1 = float(input("Primeiro número: "))
  n2 = float(input("Segundo número: "))

  if op == 1:
    print("O resultado da soma é: ", soma(n1,n2))
  elif op == 2:
    print("O resultado da subtração é: ", subtrai(n1,n2))
  elif op == 3:
    print("O resultado da multiplicação é: ", multiplica(n1,n2))
  elif op == 4:
    print("O resultado da davisão é: ", divide(n1,n2))
  else:
    break

+========================+
|    MENU DE OPERAÇÕES   |
|      1 - SOMAR         |
|      2 - SUBTRAIR      |
|      3 - MULTIPLICAR   |
|      4 - DIVIDIR       |
|      5 - SAIR          |
+========================+
1
Primeiro número: 1
Segundo número: 5
O resultado da soma é:  6.0
+========================+
|    MENU DE OPERAÇÕES   |
|      1 - SOMAR         |
|      2 - SUBTRAIR      |
|      3 - MULTIPLICAR   |
|      4 - DIVIDIR       |
|      5 - SAIR          |
+========================+
0