In [12]:
idade1 = 20
idade2 = 35
somaIdades = idade1+idade2
print (somaIdades)

55

In [14]:
print (idade1 + 10)
print (idade1 - 15)
print (idade1 * 4)
print (idade1 / 5)

30
5
80
4.0

In [16]:
print (2*(idade1) + (idade2))
print (2* idade1 + 3 * idade2 /4)
print ((2 * idade1 + 3 * idade2)/4)

75
66.25
36.25

In [21]:
print (idade1 ** 2)
print (15 ** 2)

400
225

In [23]:
print (idade2 // idade1)
print (idade2 / idade1)

1.75

In [24]:
idade2 % idade1

15

In [34]:
nome = "Luiz Eduardo"
sobrenome = " de Almeida"
print (nome + sobrenome)

Luiz Eduardo de Almeida

In [27]:
print (nome + '' + sobrenome)

Luiz Eduardo de Almeida

In [35]:
print ("Olá,", nome,"você tem", idade1 + 15, "anos.")

Olá, Luiz Eduardo você tem 35 anos.

In [36]:
print ("Olá,", nome, "\n","você tem", idade1 + 15, "anos.")

Olá, Luiz Eduardo
 você tem 35 anos.

In [39]:
nome0 = input("Digite o sue nome: ")
print (nome0)
nome2 = str(input("Digite o sue nome: "))
print (nome2)

luiz
eduardo